p {
  color: #666666 !important;
}
.text-primary {
  color: #1652f0 !important;
}

.text-scondary {
  color: #bb712a !important;
}

.button-primary,
.section-heading-line {
  background: #1652f0;
}

.service-block-content-button {
  background: #1652f0;
  border-color: #1652f0;
}
a:hover {
  color: #1652f0;
}

.contact-icon-box i,
.primary-list li i {
  color: #1652f0;
}
.service-block:hover .service-block-content-button i {
  color: #1652f0;
}

.service-block-content-button:hover i {
  color: #1652f0 !important;
}
.text-left .section-heading-line {
  background: #1652f0;
}

.top-bar-info li {
  color: inherit;
}

.numb {
  background: #1652f0;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 60px;
  line-height: 2.3;
}

.partner-img {
  width: 100%;
}

.partners {
  background-image: url("/img/content/bgs/bg2.png");
}

.footer-nav li {
  color: #999 !important;
  margin-top: 12px !important;
}
.footer-nav li a {
  color: #999 !important;
  font-size: 12px !important;
}

.footer-nav li a:hover {
  color: #d21825 !important;
}

.footer-news li span {
  color: #d6d6d6;
}

.custom-dot.active span {
  background: #1652f0 !important;
}

.section-block-parallax {
  background-image: url("/img/banner.png") !important;
}

.socials a i {
  color: #999 !important;
  margin: 0 15px;
}

.socials a i:hover {
  color: #1652f0 !important;
}

.breadcrumb-section {
  background-image: url("/img/banner-main.png") !important;
}

.numb-sm {
  border: 2px solid #1650f0;
  height: 60px;
  width: 60px;
  text-align: center;
}

.test-card {
  min-height: 260px;
}
.test-card2 {
  min-height: 380px;
}

.card-primary a {
  color: #1650f0 !important;
}
.card-primary a:hover {
  color: #1650f0 !important;
}

.why-train-card {
  min-height: 215px !important;
}

.bg-light-blue {
  background-color: #1e23630f !important;
}

.pricing-section-price h2 {
  color: #1652f0 !important;
}

.pricing-section-advanced {
  background-color: #1652f00d !important;
}

.pricing-section {
  border: 1px solid transparent !important;
}

.pricing-section-advanced {
  border: 2px solid transparent !important;
}

.pricing-section-price h2 sup {
  color: #bb712a !important;
}

.bg-white {
  background: white !important;
}

.prop {
  color: #444444;
}

.text-off-white {
  color: #999999 !important;
}

@media screen and (max-width: 766px) {
  .part-img {
    margin-top: -3em !important;
  }
  .mt-sm {
    margin-top: 50px !important;
  }
}

@media screen and (max-width: 938px) {
  .nav-header {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .team-box-3-info {
    width: 80%;
    margin-left: 0;
  }
}
